@using TPFinal_TOAST.Models
@model Categoria

    <h1 class="mb-4"> Categorias</h1>
    <div class="row">
        @foreach (Categoria categoria in ViewBag.List)
         {
            <a href="@Url.Action("RecetaCategoria", "Home", new { IdCat = categoria.IdCategoria, Nom = categoria.Nom_Categoria })"> @categoria.Nom_Categoria </a>
         }
    </div>
    