@using TPFinal_TOAST.Models
@model Receta
    <h1 class="mb-4"> @ViewBag.nom </h1>
    <div style="background-image:url('fondo.png');">
        <div class="row">
            @foreach (Receta r in ViewBag.recxcat)
            {
                <img class="card-img" src="~/Content/Fotos/Recetas/@r.NombreFoto" alt="@r.NombreFoto" />
                <a class="mb-0" href="@Url.Action("ViewReceta", "Home", new { id = r.IDReceta })"> @r.NombreReceta </a>
            }
        </div>
    </div>