USE [master]
GO
/****** Object:  Database [BD - TOAST]    Script Date: 27/11/2019 15:11:00 ******/
CREATE DATABASE [BD - TOAST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD - TOAST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD - TOAST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD - TOAST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD - TOAST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD - TOAST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD - TOAST]
GO
USE [BD - TOAST]
GO
/****** Object:  User [alumno]    Script Date: 27/11/2019 15:11:00 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IDCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NomCategoria] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[IDCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dificultades]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dificultades](
	[IDDificultad] [int] IDENTITY(1,1) NOT NULL,
	[NombreDificultad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Dificultades] PRIMARY KEY CLUSTERED 
(
	[IDDificultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoritos]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoritos](
	[IDFavorito] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDReceta] [int] NOT NULL,
 CONSTRAINT [PK_Favoritos] PRIMARY KEY CLUSTERED 
(
	[IDFavorito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredientes]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredientes](
	[IDIngrediente] [int] IDENTITY(1,1) NOT NULL,
	[NombreIngrediente] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Ingredientes] PRIMARY KEY CLUSTERED 
(
	[IDIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recetas]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recetas](
	[IDReceta] [int] IDENTITY(1,1) NOT NULL,
	[NombreReceta] [varchar](100) NOT NULL,
	[Categoria] [int] NOT NULL,
	[Preparacion] [varchar](2000) NOT NULL,
	[TiempoPreparacion] [int] NOT NULL,
	[CantidadPlatos] [float] NOT NULL,
	[Dificultad] [float] NOT NULL,
	[Foto] [varchar](200) NULL,
	[Cant_Likes] [int] NOT NULL,
 CONSTRAINT [PK_Recetas] PRIMARY KEY CLUSTERED 
(
	[IDReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RxI]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RxI](
	[IDRxI] [int] IDENTITY(1,1) NOT NULL,
	[IDIngrediente] [int] NOT NULL,
	[IDReceta] [int] NOT NULL,
	[Cantidad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RxI] PRIMARY KEY CLUSTERED 
(
	[IDRxI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Usuario] [varchar](100) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Mail] [varchar](200) NOT NULL,
	[Admin] [bit] NOT NULL,
	[Contraseña] [varchar](200) NOT NULL,
	[Nombre_Foto] [varchar](200) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IDCategoria], [NomCategoria]) VALUES (1, N'Aves')
INSERT [dbo].[Categorias] ([IDCategoria], [NomCategoria]) VALUES (2, N'Bebidas')
INSERT [dbo].[Categorias] ([IDCategoria], [NomCategoria]) VALUES (3, N'Carnes')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
SET IDENTITY_INSERT [dbo].[Dificultades] ON 

INSERT [dbo].[Dificultades] ([IDDificultad], [NombreDificultad]) VALUES (1, N'Fácil')
INSERT [dbo].[Dificultades] ([IDDificultad], [NombreDificultad]) VALUES (2, N'Medio')
INSERT [dbo].[Dificultades] ([IDDificultad], [NombreDificultad]) VALUES (3, N'Difícil')
SET IDENTITY_INSERT [dbo].[Dificultades] OFF
SET IDENTITY_INSERT [dbo].[Ingredientes] ON 

INSERT [dbo].[Ingredientes] ([IDIngrediente], [NombreIngrediente]) VALUES (1, N'Cebolla')
INSERT [dbo].[Ingredientes] ([IDIngrediente], [NombreIngrediente]) VALUES (2, N'Maicena')
INSERT [dbo].[Ingredientes] ([IDIngrediente], [NombreIngrediente]) VALUES (3, N'Leche')
SET IDENTITY_INSERT [dbo].[Ingredientes] OFF
SET IDENTITY_INSERT [dbo].[Recetas] ON 

INSERT [dbo].[Recetas] ([IDReceta], [NombreReceta], [Categoria], [Preparacion], [TiempoPreparacion], [CantidadPlatos], [Dificultad], [Foto], [Cant_Likes]) VALUES (1, N'Soupe l''Oignon (Sopa de cebollas)', 8, N'1- Pelar, lavar y picar finamente las cebollas. Lubricar una olla con rocío vegetal y dorarlas
2- Agregar el caldo y el vino y proseguir la cocción durante 15''. Salar.
3- Disolver la maicena con la leche fría e incorporar a la sopa. Revolver hasta que hierva durante 3''.
4- Servir con queso rallado y pimienta. Decorar cada plato con una rebanada de pan tostado cortada en diagonal.', 45, 4, 1, N'Soupe_L''Oignon.jpg', 0)
INSERT [dbo].[Recetas] ([IDReceta], [NombreReceta], [Categoria], [Preparacion], [TiempoPreparacion], [CantidadPlatos], [Dificultad], [Foto], [Cant_Likes]) VALUES (2, N'Zanahorias Glaceadas', 8, N'1- Lavar y pelar las zanahorias, secarlas y cortarlas en rodajas oblicuas y finas. Pelar y lavar la cebolla y cortarla en aros.
2- Colocar el caldo y el edulcorante en una sartén profunda y llevar al fuego. Cuando rompe el hervor añadir las zanahorias. Tapar y cocinar entre 10 y 15''. Luego, agregar las cebollas y continuar la cocción con el recipiente destapado. Procurar que no se seque; si fuera necesario, incorporar más caldo.
3- Cuando la cebolla esté transparente, espolvorear la gelatina sobre la preparación mientras se mezcla con cuidad para no romper las zanahorias
4- Servir de inmediato con perejil picado.', 35, 4, 2, N'Zanahorias_Glaseadas.jpg', 0)
INSERT [dbo].[Recetas] ([IDReceta], [NombreReceta], [Categoria], [Preparacion], [TiempoPreparacion], [CantidadPlatos], [Dificultad], [Foto], [Cant_Likes]) VALUES (3, N'Cazuela de vegetales y legumbres', 8, N'1- Lavar las chauchas, retirarles la punta y cortar
2- Pelar, lavar y cortar en cubos las papas, la cebolla de verdeo y la zanahoria. Lavar, raspar y picar las ramitas de blanco de apio. Partir, retirar las semillas y cortar en cubos el zapallito.
3- Pasar los tomates por agua hirviendo, pelarlos y picarlos.
4- Disolver el pimentón en medio vaso de vino blanco. Picar la albahaca.
5- Colocar todos los ingredientes en un recipiente de vidrio o porcelana apto para cocción en microondas. Rociar con el vino, salar y tapar con papel antiadherente.
6- Cocinar a temperatura máxima durante 10'' en el horno microondas. Dar vuelta la preparación con cuchara. Volver a cubri y cocinar por 5'' más. Dejar reposar 5''.', 40, 4, 1, N'Cazuela_de_Vegetales_y_Legumbres.png', 0)
INSERT [dbo].[Recetas] ([IDReceta], [NombreReceta], [Categoria], [Preparacion], [TiempoPreparacion], [CantidadPlatos], [Dificultad], [Foto], [Cant_Likes]) VALUES (4, N'Omelette de finas hierbas', 9, N'1- Colocar el perejil y los cebollines en agua durante unos minutos. Retirar y secar con un repasador. Picar.
2- Partir los huevos y separar las yemas de las claras.
3- Mezclar las yemas con el perejil y los cebollines, agregar la sal, la pimienta y el queso rallado
4- Aparte, batir las claras a punto de nieve e incorporar la preparación de las yemas.
5- Lubricar una sartén con rocío vegetal y calentar. Volcar la preparación y cocinar dejándola blanda y jugosa. Servir inmediatamente.', 20, 4, 1, N'Omelette_de_finas_hierbas.jpg', 0)
INSERT [dbo].[Recetas] ([IDReceta], [NombreReceta], [Categoria], [Preparacion], [TiempoPreparacion], [CantidadPlatos], [Dificultad], [Foto], [Cant_Likes]) VALUES (5, N'Pollo a la crema', 6, N'1- Sacar la piel al pollo, partir en presar y retirar toda la grasa visible. Lavar y secar bien.

2- Partir la cebolla en cuatro pedazos. Lavar, pelar y cortar las zanahorias en cuatro, a lo largo. Limpiar los champignones con un repasador. Cortar los cebollines o puerros en trozos.

3- Calentar un recipiente, lubricar con rocío vegetal; dorar las presas de pollo y retirar. Incorporar el vino, la cebolla, las zanahorias y el caldo; tapar el recipiente y cocinar 20''. Enfriar y licuar. Volcar el licuado en la olla, agregar el pollo, los champignones, los cebollines, condimentar y continuar la cocción durante 25 a 30''.

4- Disolver la maicena en la leche fría, incorporar, hervir durante 3'' y apagar. Servir las presas con los cebollines y los champignones.', 95, 4, 2, N'Pollo_a_la_crema.jpg', 0)
INSERT [dbo].[Recetas] ([IDReceta], [NombreReceta], [Categoria], [Preparacion], [TiempoPreparacion], [CantidadPlatos], [Dificultad], [Foto], [Cant_Likes]) VALUES (6, N'Ratatouille', 8, N'1- Picar la cebolla en cubos o juliana. Limpiar el ají, picar en trozos grandes igual que la cebolla.

2- Lavar y pelar la berenjena, cortar en cubos y rociar con limón. Lavar y cortar el zapallito en cubos o rodajas finas.

3- Lubricar una cacerola con rocío vegetal y rehogar el ají y la cebolla hasta que esta última quede transparente, agregar la berenjena y el tomate.

4- Cocinar 20'', agregar el zapallito, salpimentar e incorporar las hierbas.

5- Continuar con la cocción durante 40'' más y servir.', 90, 4, 1, N'Ratatouille.jpeg', 0)
INSERT [dbo].[Recetas] ([IDReceta], [NombreReceta], [Categoria], [Preparacion], [TiempoPreparacion], [CantidadPlatos], [Dificultad], [Foto], [Cant_Likes]) VALUES (7, N'Ensalada Niçoise', 10, N'1- Salar el pescado; cocinar al vapor durante 10'', dejar enfriar.

2- Cortar los tomates en gajos. En un recipiente con agua hirviendo colocar las chauchas. Hervir, colar y pasar por agua helada.

3- Lavar los ajíes, asarlos, pelarlos y cortarlos en tiras finas.

4- Hervir los huevos 12'', pelar y cortar en cuatro.

5- Enjuagar las anchoas. Cortar las cebollas de verdeo.

6- Pelar los ajos y frotar con ellos el recipiente; luego picarlos finamente y mezclar con el vinagre, el aceite, la sal y la pimienta en un frasco con tapa y agitar.

7- Colocar los ingredientes en la fuente y rociarlos con el aderezo. Trozar la albahaca con la mano y colocarla al final, junto con las aceitunas.', 70, 4, 1, N'Ensalada_Nicoise.jpg', 0)
INSERT [dbo].[Recetas] ([IDReceta], [NombreReceta], [Categoria], [Preparacion], [TiempoPreparacion], [CantidadPlatos], [Dificultad], [Foto], [Cant_Likes]) VALUES (8, N'Quiche Lorraine', 14, N'1- Espolvorear la mesada con harina.

2- Extender las tapas de masa sobre ella y estirarlas con palote de amasar para que queden bien finas.

3- Lubricar una tartera con rocío vegetal, forrar con una tapa de masa y pinchar con un tenedor.

4- Disolver la maicena en leche fría, llevar al fuego para que se espese, retirar y condimentar con sal, pimeinta y nuez moscada.

5- Dejar enfriar.

6. Batir un poco los huevos y unir a la salsa anterior; volcar esta preparación sobre la masa de tarta.

7- Colocar encima el lomito ahumado cortado en tiras finas. Espolvorear con queso rallado.

8- [Cubrir con la otra tapa] - Opcional

9- Cortar la parte sobrante y hacer un repulgue alrededor; pinchar con un tenedor y cocinar en horno moderado entre 20'' y 30''', 60, 3, 2, N'Quiche_Lorraine.jpg', 0)
INSERT [dbo].[Recetas] ([IDReceta], [NombreReceta], [Categoria], [Preparacion], [TiempoPreparacion], [CantidadPlatos], [Dificultad], [Foto], [Cant_Likes]) VALUES (9, N'Coq-Au-Vin', 6, N'1- Reitrar la piel y la grasa visible del pollo. Cortar en presas. Picar las cebollas de verdeo en aros finos. Colocar los tomates en un recipiente con agua hirviendo durante 3'' y luego pasarlos por agua fría. Retirarles la piel y las semillas y picar. Limpiar con un repasador los champignones y cortarlos en láminas finas a lo largo. Rallar la zanahoria.

2- Lubricar una sartén con rocío vegetal y dorar las presas de pollo, agregar el cognac y encender con un fósforo para flambear.

3- Retirar del fuego, sacar el pollo de la sartén, agregar más rocío vegetal y rehogar la zanahoria y las cebollas hasta que esta ultima quede transparente.

4- Agregar entonces los tomates, el vino tinto y los champignones; salpimentar e incorporar las hierbas. Tapar y continuar con la cocción durante 25''.

5- Disolver la maicena en agua fría y volcar en la salsa para unir. Cocinar 2'' servir decorando con una ramita de romero.', 65, 4, 3, N'Coq_Au_Vin.jpg', 0)
INSERT [dbo].[Recetas] ([IDReceta], [NombreReceta], [Categoria], [Preparacion], [TiempoPreparacion], [CantidadPlatos], [Dificultad], [Foto], [Cant_Likes]) VALUES (10, N'Brochettes de Salmón', 3, N'1- Quitar la piel y espinas del pescado, cortar en trozos parejos, salpimentar, rociar con jugo de limón y reservar 60'' en la heladera.

2- Cortar el limón en rodajas.

3- Retirar de la heladera el pescado e insertar en un pinche de brochette un trozo de pescado, 1 de limón y 1 tomate.

4- Colocar en la parrilla del horno y cocinar 8'' de cada lado.

5- Servir espolvoreados con orégano y perejil. Rociar con aceite de oliva.', 36, 4, 1, N'Brochettes_de_Salmon.jpg', 0)
SET IDENTITY_INSERT [dbo].[Recetas] OFF
SET IDENTITY_INSERT [dbo].[RxI] ON 

INSERT [dbo].[RxI] ([IDRxI], [IDIngrediente], [IDReceta], [Cantidad]) VALUES (1, 1, 1, N'150 grs.')
INSERT [dbo].[RxI] ([IDRxI], [IDIngrediente], [IDReceta], [Cantidad]) VALUES (2, 2, 1, N'1/2 Cda.')
INSERT [dbo].[RxI] ([IDRxI], [IDIngrediente], [IDReceta], [Cantidad]) VALUES (3, 3, 1, N'1/2 Vaso')
GO
SET IDENTITY_INSERT [dbo].[RxI] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IDUsuario], [Nombre_Usuario], [Nombre], [Apellido], [Mail], [Admin], [Contraseña], [Nombre_Foto]) VALUES (1, N'Leo_Melman', N'Leonardo', N'Melman', N'leojmelman@gmail.com', 1, N'Ÿ²Yû0ÙŠ…A}È*XØ¨', N'melman.jpg')
INSERT [dbo].[Usuarios] ([IDUsuario], [Nombre_Usuario], [Nombre], [Apellido], [Mail], [Admin], [Contraseña], [Nombre_Foto]) VALUES (2, N'Juli_Taiter', N'Julián', N'Taiter', N'taiter.julian.2002@gmail.com', 1, N'æëæ;ô”tÁU’27‘.', N'taiter.jpg')
INSERT [dbo].[Usuarios] ([IDUsuario], [Nombre_Usuario], [Nombre], [Apellido], [Mail], [Admin], [Contraseña], [Nombre_Foto]) VALUES (3, N'Santi_Bugdadi', N'Santiago', N'Bugdadi', N'santiagobugdadi@gmail.com', 1, N'ÜÏä96Á&wôXGTrÔ', N'bugdadi.jpg')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
/****** Object:  StoredProcedure [dbo].[BusquedaReceta]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusquedaReceta]

	@NombreIngrediente varchar(100)

AS
BEGIN

	SELECT * from Recetas INNER JOIN RxI ON Recetas.IDReceta = RxI.IDReceta INNER JOIN Ingredientes ON RxI.IDIngrediente = Ingredientes.IDIngrediente WHERE NombreIngrediente LIKE '%' + @NombreIngrediente + '%'

END
GO
/****** Object:  StoredProcedure [dbo].[CantidadRecetas]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CantidadRecetas]

AS
BEGIN

	SELECT COUNT(*) AS cant FROM Recetas

END
GO
/****** Object:  StoredProcedure [dbo].[ComprobarIngrediente]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ComprobarIngrediente]
	
	@NombreIngrediente varchar(100)
AS
BEGIN
	
	SELECT NombreIngrediente FROM Ingredientes WHERE NombreIngrediente LIKE @NombreIngrediente

END
GO
/****** Object:  StoredProcedure [dbo].[EliminarFavorito]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarFavorito]

	@IDUsuario int,
	@IDReceta int

AS
BEGIN
	
	DELETE FROM Favoritos WHERE IDUsuario = @IDUsuario AND IDReceta = @IDReceta

END
GO
/****** Object:  StoredProcedure [dbo].[EliminarReceta]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarReceta]
	
	@IDReceta int

AS
BEGIN
	
	DELETE FROM Recetas WHERE IDReceta = @IDReceta
	DELETE FROM RxI WHERE IDReceta = @IDReceta

END
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarUsuario]
	
	@IDUsuario int

AS
BEGIN
	
	DELETE FROM Usuarios WHERE IDUsuario = @IDUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarRecetas]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FiltrarRecetas]
	
	@NombreReceta varchar(100),
	@Categoria int,
	@TiempoPreparacion int,
	@Dificultad float,
	@Cantidad float,
	@Cant_Likes int

AS
BEGIN
	
	IF (@NombreReceta != '')
		BEGIN
			SELECT * FROM Recetas WHERE (NombreReceta LIKE '%' + @NombreReceta + '%') OR (Categoria = @Categoria)
			OR (TiempoPreparacion = @TiempoPreparacion) OR (Dificultad = @Dificultad) OR (CantidadPlatos = @Cantidad) OR (Cant_Likes = @Cant_Likes)
			ORDER BY NombreReceta ASC
		END
	ELSE
		BEGIN
			SELECT * FROM Recetas WHERE (Categoria = @Categoria)
			OR (TiempoPreparacion = @TiempoPreparacion) OR (Dificultad = @Dificultad) OR (CantidadPlatos = @Cantidad) OR (Cant_Likes = @Cant_Likes)
			ORDER BY NombreReceta ASC
		END
END
GO
/****** Object:  StoredProcedure [dbo].[IngresarIngrediente]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IngresarIngrediente]
	
	@NombreIngrediente varchar(100)

AS
BEGIN
	
	INSERT INTO Ingredientes (NombreIngrediente) VALUES (@NombreIngrediente)

END
GO
/****** Object:  StoredProcedure [dbo].[IngresarRecetas]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IngresarRecetas]
	@NombreReceta varchar(100),
	@Categoria int,
	@Preparacion varchar(2000),
	@TiempoPreparacion int,
	@CantidadPlatos int,
	@Dificultad int,
	@Foto varchar(200),
	@Cant_Likes int
AS
BEGIN
	IF (@NombreReceta IS NOT NULL AND @Categoria IS NOT NULL AND @Preparacion IS NOT NULL AND @TiempoPreparacion IS NOT NULL AND @CantidadPlatos IS NOT NULL AND @Dificultad IS NOT NULL)
	INSERT INTO Recetas (NombreReceta, Categoria, Preparacion, TiempoPreparacion, CantidadPlatos, Dificultad, Foto, Cant_Likes) VALUES (@NombreReceta, @Categoria, @Preparacion, @TiempoPreparacion, @CantidadPlatos, @Dificultad, @Foto, @Cant_Likes)
END
GO
/****** Object:  StoredProcedure [dbo].[IngresarRxI]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IngresarRxI]
	
	@NombreIngrediente varchar(100),
	@NombreReceta varchar(100),
	@Cantidad varchar(50)
AS
BEGIN	
	DECLARE @IDR int , @IDI int;

	SELECT @IDR = Recetas.IDReceta FROM Recetas WHERE NombreReceta LIKE @NombreReceta;
	SELECT @IDI = Ingredientes.IDIngrediente FROM Ingredientes WHERE NombreIngrediente LIKE @NombreIngrediente;

	INSERT INTO RxI(IDReceta, IDIngrediente, Cantidad) VALUES (@IDR, @IDI, @Cantidad);

END
GO
/****** Object:  StoredProcedure [dbo].[InsertarFavorito]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarFavorito]

	@IDUsuario int,
	@IDReceta int

AS
BEGIN
	
	INSERT INTO Favoritos(IDUsuario, IDReceta) VALUES (@IDUsuario, @IDReceta)

END
GO
/****** Object:  StoredProcedure [dbo].[InsertarUsuario]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarUsuario]

    @Nombre_Usuario varchar(100),
    @Nombre varchar(100),
    @Apellido varchar(100),
    @Mail varchar(200),
    @Contraseña varchar(200),
    @Admin bit,
	@Nombre_Foto varchar(200)
AS
BEGIN
	INSERT INTO Usuarios (Nombre_Usuario, Nombre, Apellido, Mail, Contraseña, Admin, Nombre_Foto) VALUES (@Nombre_Usuario, @Nombre, @Apellido, @Mail, HASHBYTES('MD5', @Contraseña), @Admin, @Nombre_Foto)

END
GO
/****** Object:  StoredProcedure [dbo].[ListarCategorias]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarCategorias]
AS
BEGIN
	SELECT * FROM Categorias
END
GO
/****** Object:  StoredProcedure [dbo].[ListarDificultades]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarDificultades]
AS
BEGIN
	SELECT * FROM Dificultades
END
GO
/****** Object:  StoredProcedure [dbo].[ListarFavoritos]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarFavoritos]
	
AS
BEGIN
	SELECT * FROM Favoritos
END
GO
/****** Object:  StoredProcedure [dbo].[ListarRecetas]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarRecetas]
	

AS
BEGIN
	
	SELECT * FROM Recetas ORDER BY NombreReceta ASC
END
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuarios]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarUsuarios]
	
AS
BEGIN
	
	SELECT * FROM Usuarios

END
GO
/****** Object:  StoredProcedure [dbo].[ModificarUsuario]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarUsuario]
	
	@Nombre_Usuario varchar(100),
    @Nombre varchar(100),
    @Apellido varchar(100),
    @Mail varchar(200),
    @Contraseña varchar(200),
	@NombreFoto varchar(200)

AS
BEGIN
	
	IF (@Nombre_Usuario IS NOT NULL AND @Nombre IS NOT NULL AND @Apellido IS NOT NULL AND @Mail IS NOT NULL AND @Contraseña IS NOT NULL)
		BEGIN
			UPDATE Usuarios SET Nombre_Usuario = @Nombre_Usuario, Nombre = @Nombre, Apellido = @Apellido, Mail = @Mail, Contraseña = HASHBYTES('MD5', @Contraseña), Nombre_Foto = @NombreFoto
		END
END
GO
/****** Object:  StoredProcedure [dbo].[TraerCategoria]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerCategoria]
	@id int
AS
BEGIN
	SELECT * FROM Categorias WHERE IDCategoria = @id
END
GO
/****** Object:  StoredProcedure [dbo].[TraerDificultad]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerDificultad]
	@IDReceta int
AS
BEGIN
	SELECT * FROM Dificultades 
	INNER JOIN Recetas ON Recetas.Dificultad = Dificultades.IDDificultad 
	WHERE IDReceta = @IDReceta 
END
GO
/****** Object:  StoredProcedure [dbo].[TraerFavoritosxUsuario]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerFavoritosxUsuario]
	
	@IDUsuario int

AS
BEGIN

	SELECT * FROM Recetas INNER JOIN Favoritos ON Recetas.IDReceta = Favoritos.IDReceta
	INNER JOIN Usuarios ON Favoritos.IDUsuario = Usuarios.IDUsuario
	WHERE Favoritos.IDUsuario = @IDUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[TraerInfoReceta]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerInfoReceta]
	
	@id int

AS
BEGIN
	
	
	SELECT * FROM RECETAS WHERE IDReceta = @id

END
GO
/****** Object:  StoredProcedure [dbo].[TraerIngredientes]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerIngredientes]
	
	@IDReceta int

AS
BEGIN
	
	if(@IDReceta IS NOT NULL)
	SELECT Ingredientes.IDIngrediente, NombreIngrediente, RxI.Cantidad FROM Ingredientes INNER JOIN RxI ON RxI.IDIngrediente = Ingredientes.IDIngrediente INNER JOIN Recetas ON Recetas.IDReceta = RxI.IDReceta WHERE Recetas.IDReceta = @IDReceta

END
GO
/****** Object:  StoredProcedure [dbo].[TraerRecetaRandom]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerRecetaRandom]
	
	@NumeroRandom0 int,
	@NumeroRandom1 int,
	@NumeroRandom2 int,
	@NumeroRandom3 int

AS
BEGIN
	
	SELECT * FROM Recetas WHERE IDReceta = @NumeroRandom0 OR IDReceta = @NumeroRandom1 OR IDReceta = @NumeroRandom2 OR IDReceta = @NumeroRandom3

END
GO
/****** Object:  StoredProcedure [dbo].[TraerUsuario]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerUsuario]
	
	@IDUsuario int

AS
BEGIN
	
	SELECT * FROM Usuarios WHERE IDUsuario = @IDUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[ValidarUsuario]    Script Date: 27/11/2019 15:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidarUsuario]
	
	@Mail varchar(200),
	@Contraseña varchar(200)
	
AS
BEGIN
	
	SELECT Mail, Contraseña, IDUsuario FROM Usuarios WHERE Mail = @Mail AND Contraseña = HASHBYTES('MD5', @Contraseña)

END
GO
USE [master]
GO
