@using TPFinal_TOAST.Models
@model Usuario
<h1>Mi perfil</h1>
<img height="100" width="100" src="~/Content/Fotos/@Model.NombreFoto" />
<h2>@Model.Nombre_Usuario</h2>
@Html.ActionLink("Modificar usuario", "RM", "Usuarios", new { modo = "Editar",id= Model.IDUsuario },null)
